<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>shop</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CheckCode</servlet-name>
    <servlet-class>com.controller.CheckCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pageServlet</servlet-name>
    <servlet-class>com.controller.pageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsInfoServlet</servlet-name>
    <servlet-class>com.controller.GoodsInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.controller.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.controller.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.controller.ManagerServlet</servlet-class>
  </servlet>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.filter.LoginFilter</filter-class>
  </filter>
  
  <servlet-mapping>
    <servlet-name>CheckCode</servlet-name>
    <url-pattern>/CheckCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/memberservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pageServlet</servlet-name>
    <url-pattern>/pageservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsInfoServlet</servlet-name>
    <url-pattern>/goodsinfoservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cartservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/orderservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/managerservlet</url-pattern>
  </servlet-mapping>
  <filter-mapping>
  	 <filter-name>LoginFilter</filter-name>
  	 <url-pattern>/manager/login_M.jsp</url-pattern>
  </filter-mapping>
</web-app>